<template>
  <div id="keymapItem" class="has-text-centered">
    <button @click="buttonClicked" :disabled="!enabled">
      {{from}}<br/>
      <b>{{to}}</b>
    </button>
  </div>
</template>

<script>
export default {
  name: "keymapItem",
  props: ["from", "to", "name", "enabled"],
  methods: {
    buttonClicked: function() {
      this.$emit("charClicked", this.to);
    }
  }
};
</script>

<style scoped>
.button {
  height: initial;
  display: initial;
}
</style>
